<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="chinese" class="com.runfeng.app.service.Chinese">
        <property name="axeType" ref="steelAxe"></property>
    </bean>
    <bean id="axe" class="com.runfeng.app.service.StoneAxe"/>
    <bean id="steelAxe" class="com.runfeng.app.service.SteelAxe"/>
    <bean id="win" class="javax.swing.JFrame"/>
    <bean id="date" class="java.util.Date"/>
</beans>